<% current_uri = request.env['PATH_INFO'] %>
<ol class="breadcrumb">
  <% if current_uri == "/" %>
    <li>Dashboard</li>
  <% else %>
    <li><%= link_to "Dashboard", root_path %></li>
  <% end %>
  <%# paths.each do |path, text| %>
    <%# needs generic path helper %>
    <!-- <li><%#= link_to(text), new_path, class: "btn btn-default" %></li> -->
  <%# end %>
  <%# TODO: Last <li> should: class="active" %>
</ol>
