<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li class="active">Settings</li>
</ol>

<h1>Settings</h1>

<h3><%= link_to "Colors", colors_path %></h3>

<h3><%= link_to "Roles", roles_path %></h3>

<h3><%= link_to "Skills", skills_path %></h3>

