<li class="media">
  <a class="media-link pull-left" href="<%= edit_person_path(person) %>">
    <h4 class="media-heading" style="color: <%= "#{person.color}" %>;">
      <%= person.name %>
    </h4>
    <%= image_tag "avatar_placeholder.png",
      class: "media-object" %>
  </a>
</li>
