<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "People", people_path %></li>
  <li class="active">New Person</li>
</ol>
<ol class="breadcrumb">

<%= render "form" %>

