<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "Settings", settings_path %></li>
  <li><%= link_to "Skills", skills_path %></li>
  <li class="active">New Skill</li>
</ol>

<h1>New skill</h1>

<%= render 'form' %>

