<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "Settings", settings_path %></li>
  <li><%= link_to "Skills", skills_path %></li>
  <li class="active"><%= @skill.name %></li>
</ol>

<p>Should probably list all people who have this skill</p>
