<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "Project Listing", projects_path %></li>
  <li class="active"><%= @project.name %></li>
</ol>

<%= render 'project', locals: { project: @project } %>

