/*
 *= require bootstrap_select
 *= require bootstrap
 *= require font-awesome
 *= require jquery.minicolors
 *= require navbar
 *= require footer
 *= require person
 *= require_self
 */

/* Helpers */
.inline {
  display: inline;
}

/* Breadcrumbs */
.main { margin-bottom: 60px; }
.breadcrumb {
  padding: 0;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fff;
}
.breadcrumb > .active {
  color: #333;
}

/* Forms */
form .actions {
  margin-top: 10px;
}

/* Grid */
.grid {
  position: relative;
  width: 100%;
}
.grid-item {
  height: 128px;
  width: 128px;
  position: absolute;
}
.grid-item-placeholder {
  height: 128px;
  width: 128px;
  position: absolute;
  background-color: #eee;
}

/* Project */
.panel-body .actions {
  margin-top: 15px;
  padding-left: 20px;
}
