@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-select';
@import 'bootstrap-multiselect';
@import 'chosen';
@import 'font-awesome';
@import 'jquery.minicolors';
@import 'variables';
@import 'helpers';
@import 'bootstrap-vertical-divider';
@import 'navbar';
@import 'footer';
@import 'breadcrumbs';
@import 'grid';
@import 'project';
@import 'person';

/* Forms */
form .actions {
  margin-top: 10px;
}

/* Alerts and Notices */
.alert {
  padding: 0;
  margin-bottom: 0;
  border: none;
}
