@import 'variables';

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'selectize';
@import 'selectize.bootstrap3';
// @import 'jquery.minicolors';
@import 'vendor/bootstrap-select';
@import 'vendor/bootstrap-multiselect';
@import 'vendor/chosen';
@import 'vendor/bootstrap-vertical-divider';

@import 'helpers';
@import 'navbar';
@import 'footer';
@import 'breadcrumbs';
@import 'grid';
@import 'project';
@import 'project-edit';
@import 'person';

/* Forms */
form .actions {
  margin-top: 10px;
}

/* Alerts and Notices */
.alert {
  padding: 0;
  margin-bottom: 0;
  border: none;
}
