.grid {
  position: relative;
  width: 100%;
}
.grid-item {
  height: 128px;
  width: 128px;
  position: absolute;
}
.grid-item-placeholder {
  height: 128px;
  width: 128px;
  position: absolute;
  background-color: #eee;
}

