.grid {
  position: relative;
  width: 100%;
}
.grid-item {
  height: $person-width;
  width: $person-width;
  position: absolute;
  z-index: 20;
}
.grid-item-placeholder {
  height: $person-width;
  width: $person-width;
  position: absolute;
  background-color: $bg-secondary;
  z-index: 10;
}

