.inline { display: inline; }
.hidden { display: none; }
.invisible { visibility: hidden; }

.box {
  height: 24px;
  width: 24px;
  display: inline-block;
}

.rectangle {
  height: 26px;
  width: 154px;
  display: inline-block;
  border: 1px solid $bg-secondary;
}

.btn-round {
  border-radius: 100%;
  font-size: 11px;
  height: 20px;
  width: 20px;
  padding: 0;

  .btn-plus-text {
    margin-top: -4px;
  }
}

