.navbar-default {
  background-color: $bg-primary;
  border: none;
  border-bottom: 1px solid $color-accent;

  .navbar-brand,
  .navbar-nav > li > a {
    color: $color-primary;

    &.btn-link {
      padding: 8px 0;
    }
  }
}

.navbar {
  border-radius: 0;
}

.settings.nav {
  margin-right: -15px;

  .gear-link { padding: 15px 5px; }
}

.project-selector {
  margin: 0;
  margin-right: 5px;

  .selector {
    display: inline-block;
    margin: 0;
  }

  .btn-group { padding: 8px 0; }
}
