.people.unstyled {
  list-style: none;
  padding-left: 20px;

  .no-assignees {
    text-align: left;
  }
}

.person {
  width: $person-width;
  display: inline;

  .media-link { position: relative; }

  .media-heading {
    color: white;
    background-color: rgba(51, 51, 51, 0.5);
    position: absolute;
    top: $person-border-size;
    left: $person-border-size;
    width: $person-width;
    height: $person-width/4;
    z-index: 100;
    overflow: hidden;
    font-size: 12px;
    padding: 0 2px;

    .name {
      display: block;
      float: left;
      overflow: hidden;
      width: $person-width - 13px;

      &.full-width { width: $person-width - 4px; }
    }

    .action {
      display: block;
      color: $color-red;
      position: relative;
      right: 2px;
    }
  }

  .media-object {
    width: $person-width;
    box-sizing: content-box;
    border: $person-border-size solid black;
  }

} /* .person */

.projects { margin-top: 20px; }
.yellow { color: yellow; }
.orange { color: orange; }
.blue { color: $color-blue; }
.pink { color: pink; }
.check-group {
  input { margin-right: 4px; }
  label { margin-right: 15px; }
}

