.project {
  padding: 10px 0 20px;
  float: left;
  text-align: center;

  .title {
    font-size: 16px;
    margin-top: 0;
  }
}

.selectize-control {
  max-width: 154px;
}

.people-list {
  margin-bottom: 10px;
}

