.project {
  margin: 10px;
  padding: 10px 0 20px;
  float: left;
  text-align: center;
  border: 1px solid $color-primary;
  border-radius: 7.5px;

  .title {
    font-size: 16px;
    margin-top: 0;
  }
}

.selectize-control {
  max-width: 154px;
  margin: 0 auto;
}

.people-list {
  margin-bottom: 10px;
}

